<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <title>Sign up</title>
</head>
<body>
<div class="container pt-5 d-flex justify-content-center">
    <form name="signUpUser" method="post" action="/auth/add">
        <div class="mb-3">
            <label for="email">Email</label>
            <input class="form-control"
                   id="email"
                   name="email" type="text" placeholder="Email">
        </div>
        <div>
            <label for="passwordInput">Password</label>
            <input class="form-control "
                   id="passwordInput"
                   name="password" type="password"
                   placeholder="••••••••">
        </div>
        <div>
            <label for="name">full name:</label>
            <input class="form-control"
                   id="name"
                   name="name" type="text"
                   placeholder="first_name">
        </div>
        <div>
            <label for="address">Adress:</label>
            <input class="form-control"
                   id="Address"
                   name="address" type="text"
                   placeholder="Moscow">
        </div>
        <div>
            <label for="age">Age:</label>
            <input class="form-control"
                   id="age"
                   name="age" type="text"
                   placeholder="19">
        </div>
        <div>
            <label for="phone_number">Phone number:</label>
            <input class="form-control"
                   id="phone_number"
                   name="phone_number" type="text"
                   placeholder="89103234311">
        </div>
        <button type="submit">Sign up</button>
    </form>
</div>
</body>
</html>