<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shoppingCart</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
<div id="shoppingCart">
    <button @click="getOrder()">Обновить корзину</button>
    <dl v-if="flagProductsView">
        <dt>Товары:</dt>
        <dd v-for="product in products">
            <b>Артикул</b>: {{product.id}}<br>
            <b>Название</b>: {{product.name}}<br>
            <b>Цена</b>: {{product.cost}}<br>
            <b>Автор/производитель:</b>{{product.maker.name}}<br>
            <b>Описание</b>: {{product.description}}<br>
            <b>Количество</b>:{{product.num}}
            <button @click="ascNumOfProduct(product.id)">+</button>
            <button @click="descNumOfProduct(product.id)">-</button>
            <br>
            <button @click="deleteProduct(product.id)">Удалить из заказа</button>
            <hr align="center" width="500" size="2" color="#ff0000" />
            <br>
        </dd>
    </dl>
    <button @click="buyOrder()">Оформить заказ</button>
    <button @click="cancelOrder()">Отменить заказ</button>
</div>

<script type="text/javascript" src="../../static/js/shoppingCart.js"></script>
</body>
</html>